---
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Astro Starter</title>
  </head>
  <body>
    <h1>Astro app running on Bzync Cloud</h1>
  </body>
</html>
