# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp
*.swo

# Env
.env
.env.*
!.env.example
!.env.*.example

# PHP
vendor/
composer.phar
.phpunit.result.cache

# Lumen
storage/*.key
bootstrap/cache/
