# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp
*.swo

# Env
.env
.env.*
!.env.example
!.env.*.example

# Ruby
*.gem
*.rbc
.bundle/
vendor/bundle/
log/
tmp/
coverage/

# Rails
db/*.sqlite3
db/*.sqlite3-journal
public/assets/
public/packs/
storage/
.bundle/
vendor/bundle/
