# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp
*.swo

# Env
.env
.env.*
!.env.example
!.env.*.example

# Node.js
node_modules/
dist/
build/
out/
coverage/
.cache/

# PHP
vendor/
composer.phar
.phpunit.result.cache

# Laravel
storage/*.key
public/hot
public/storage
bootstrap/cache/
